body {
  display: inline-block;
  flex-direction: column;
  margin: 0;
}

#stone {
  position: absolute;
  height: 20%;
  width: 12%;
}

.space {
  top: 10%;
  left: 25%;
}
.mind {
  top: 40%;
  left: 15%;
}

.reality {
  top: 75%;
  left: 25%;
}

.power {
  top: 10%;
  left: 65%;
}

.time {
  top: 40%;
  left: 75%;
}

.soul {
  top: 75%;
  left: 65%;
}

.gauntlet {
  position: absolute;
  top: 10%;
  left: 17%;
  height: 80%;
  width: 70%;
}

.container-video {
  flex-direction: column;
}

video {
}

container-gant {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 3;
}

.gem {
  display: none;
}

.image-padding {
  position: fixed;
  width: 100vw;
  height: 100vh;
  animation: animate 20s linear infinite;
}

@keyframes animate {
  0% {
    right: 0px;
  }
  100% {
    right: 600px;
  }
}

#stone {
  animation: animate1 5s linear;
}
@keyframes animate1 {
  0% {
    top: 100px;
  }
  25% {
    top: 100px;
  }
  50% {
    left: 10px;
  }
  100% {
    right: 200px;
  }
}

#stone:hover{
    filter: saturate(2);
}

.fond {
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

#logo-avenger {
  position: absolute;
  left: 22%;
  top: 2%;
}

.atmo{
    display: none;
}
